<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
			<header>
		<div id="home_page">
			<nav>

				<a href="/users/login">Login</a> |
				<a href="/users/register">Register</a>
			</nav>
		</div>

			</header>

			<h1>Welcome To InspirAda</h1>
</body>
</html>