<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
		<header>
		<div id="home_page_header">
			<nav>

				<a href="/users/login">Login</a> |
				<a href="/users/register">Register</a>
			</nav>
		</div>
		</header>
		
		<div id="ada">
		<img src="https://i.imgur.com/5OS1bnj.png" height="300">
		</div>
		<main id="home_page_text">	
			<h1>Welcome To InspirAda</h1>
			A place to discover great Women in Tech.
				<p>
				Hi! How many Tech experts can you name? Now… how many of them are women? Hopefully more than one…  Realistically speaking, probably less than one. As future Software Engineers, and as women, we felt the need to learn more about women in the field. Who were the women that came before us? Who are the women that are in the industry now? How are these women making an impact in the industry? And how many more women can we help discover the field that is predominantly male?<br><br>

				In the search for these answers we thought it would be really cool to create an app where we could share posts about the great women who inspired us to pursue this career path. During our research we came across the amazing Ada Lovelace, a woman ahead of her time who is considered by many one of the world’s first computer programmers. And you must have guessed it by now, that’s where the name InspirAda comes from.<br><br>

				If you are as curious as us and you believe you need to learn more and spread the knowledge then go ahead and <a href="/users/register">join us!</a> 
				</p>
		</main><br>
		
</body>
</html>