<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand:700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>
	<header id="layout_header"> 
		
			<% if session[:logged_in] %>
			Logged in as <%= session[:username] %>
		<nav>
			<a href="/users/<%= session[:id]%>">Profile</a> |
			<a href="/posts">Get Inspired</a> |
			<a href="/posts/new">Leave a Post</a> | 
			<a href="/users/logout">Logout</a>
		</nav>
	
			
			<% end %>
		
	</header>

	

		<%= yield %>
		<footer>Copy Right © VA & TIMP 2019</footer>
</body>
</html>