<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand:700&display=swap" rel="stylesheet">
	<title> Register or Login</title>
</head>
<body>

	<h1> Login </h1>
	<form action="/users/login"method="POST">
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		<button>Login</button>
	</form>

</body>
</html>
