<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <header>
    <h1>Posts</h1>   
  </header>
  
		<ul>
		<% @posts.each do |post| %>
     
			<li>
        <a href= "/posts/<%= post.id%>/show">
    				<%= post.f_name %> <%= post.l_name %></br>
    				<img class="index_photo" src="<%= post.photo_url %>" height="300" width="300"/></br>
    		</a>
      </li><br>
    <% end %>
    </ul>
  
  
</body>
</html> 