<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>								<!-- should we include time-stamp here? -->
	<h2>Submit a New Post</h2>

	<form action="/posts" method="POST">
		Image <input type="text" name ="photo_url"/> </br>
		First Name <input type="text" name="f_name"/> </br>
		Last Name <input type="text" name ="l_name"/></br>
		Time Period <input type="text" name="period"/></br>
		About Her <textarea type="text" name="description"></textarea></br>
		<button>Submit</button>
	</form>
</body>
</html>