<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title> Register or Login</title>
</head>
<body>
	<h1>Register</h1>
	<form action="/users/register" method="POST">
		Username: <input type="text" name="username">
		Password: <input type="password" name="password">
		<button>Register</button>
	</form>
	<h2> -or- </h2>
	<h1> Login </h1>
	<form action="/users/login"method="POST">
		Username: <input type="text" name="username">
		Password: <input type="password" name="password">
		<button>Register</button>
	</form>

</body>
</html>
