<!DOCTYPE html>
<html>
<head>
	<title> Register or Login</title>
</head>
<body>
	<h1>Register</h1>
	<form action="/user/register" method="POST">
		Username: <input type="text" name="username">
		Password: <input type="password" name="password">
		<button>Register</button>
	</form>
	<h2> -or- </h2>
	<h1> Login </h1>
	<form action="/user/login"method="POST">
		Username: <input type="text" name="username">
		Password: <input type="password" name="password">
		<button>Register</button>
	</form>

</body>
</html>
