<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
</head>
<body>
	<header id="user_profile_header">
		<h1>Profile</h1>
	</header>
	<div class="user_posts_title">
		<h1>Your Posts</h1>   
	</div>
	<main class="post_index">
		<ul>
		<% @user.posts.each do |post| %>
     
			<a href= "/posts/<%= post.id%>/show">
				<li> 
    				<%= post.f_name %> <%= post.l_name %></br>
    				<img class="index_photo" src="<%= post.photo_url %>" height="300" width="300"/></br>
    			</li>
    		</a>

    	<% end %>
  		</ul>
  	</main>
</body>
</html>