body {
	background-color: rgba(229,223,236,1);
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	color: #2B075B;
	height: 90vh;
}

#layout_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
	padding: 5px;
	font-size: 16pt;
}
a:link {color: #2B075B;}    /* unvisited link */
a:visited {color: #2B075B;} /* visited link */
a:hover {text-decoration: underline;}   /* mouse over link */


ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 5px;
}

li {
	margin: 10px;
	text-align: center;
	list-style: none;
}

.index_photo {
	border-radius: 150px;
}

nav {
  width: 49%;
  display: inline-block;
}

nav:last-child {
  text-align: right;
}


#home_page_header {
	text-align: right;
	
}

#ada {
	background: rgb(151,132,177);
	text-align: center;
	margin-top: 40px;
}

#home_page_text {
	margin: 10px 100px;
	text-align: center;
}



.show_page {
	align-content: center;
}

.user_posts_title {
	text-align: center;
}

footer {
	background: #9784B1;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 1px;
}