body {
	background-color: rgba(229,223,236,1);
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

nav {
  width: 49%;
  display: inline-block;
}

nav:last-child {
  text-align: right;
}


#home_page {
	text-align: right;
}